version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: quarterly
    groups:
      actions:
        patterns:
          - "*"
  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: monthly
    allow:
      - dependency-type: all
    versioning-strategy: lockfile-only
    commit-message:
      prefix: "fix: "
      prefix-development: "chore: "
    groups:
      lockfile-dev:
        dependency-type: "development"
      lockfile-runtime:
        dependency-type: "production"
