ci:
  autofix_commit_msg: "chore: Fix lint errors"
  autofix_prs: true
  autoupdate_branch: main
  autoupdate_commit_msg: "chore: Update pre-commit hooks"
  autoupdate_schedule: quarterly
  submodules: false
  skip:
    - uv-lock

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-meltano

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.9.30"
    hooks:
      - id: uv-lock
      - id: uv-sync

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.1
    hooks:
      - id: typos

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0 # Use the ref you want to point at
    hooks:
      - id: mdformat
